.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero{
  width: 100%;
  padding: 20px;
  height: 162px;
  background-color: #7fff938f;
  background-size: cover;
  background-position: center;
}

.hero-txt{
  width: 90%;
  margin: 0 auto;
  color: #373737;
  padding: 10px;
}

.mastHead-buttons{
  flex-grow: unset;
}

.navbar {
  background-color: #85fb618a;
  
  }

.navbar-brand{
  background-color: #72ff6e;
    padding: 15px;
    border-radius: 30px;
}

.snackbar-custom{
  position: fixed;
  left: 10px;
  bottom: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 9px #00004a;
  padding: 10px;
  color: withe;
}
.container{
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
}